*.identcache
log.txt
*.dcu
*.exe
*.ddp
*.ppu
*.o
*.~*
*.log
*.dsk
*.dof
*.bk?
*.mps
*.rst
*.dres
*.s
*.a
*.map
*.rsm
*.drc
*.2007
*.local
__history
*.stat
Android
Win32
__recovery
*.db-journal
*.$manifest
*.vrc
*.res
*.rc